
    html {
      box-sizing: border-box;
      font-size: 16px;
      font-family: sans-serif;
      scroll-behavior: smooth;
    }

    *,
    *::after,
    *::before {
      box-sizing: inherit;
    }

    a[href="#top"] {
      margin: 1rem;
      display: block;
      font-size: 2rem;
      text-align: center;
      text-decoration: none;
    }

    p {
      margin: 0;
    }

    h2 {
      margin-top: 50vh;
      text-align: center;
    }

    img {
      margin: auto;
      display: block;
      max-width: 100%;
      height: auto;
    }

    .menu {
      margin-bottom: 100vh;
      font-size: 125%;
    }

    .menu li {
      margin-bottom: 1rem;
    }

    .container {
      margin: 0 auto;
      width: 80%;
      height: 80vh;
      background-color: #222;
      border: medium solid #000;
    }

    .item {
      padding: 1rem;
      font-size: 1.25rem;
      background-color: #666;
      border: medium solid #999;
    }

/*apartir de aca es donde empesamos a trabajar lo que es grid*/

.grid-explicit{
  display: grid;

  /*Grid 3c*3r*/
  /*El rem está basada en la unidad tipografica que tenga  mi etiqueta html*/
  /*mi primera columna ocuma 2 rem la segunda columna va ocupar 20vh y la trecera columna ocuapa 30%*/
  grid-template-columns: 2rem 20vh 30%; /*simplemente separada por espacios*/
  /*primera fila es de 50% la 2da es de 100px y la tercera es de 1fr*/
  grid-template-rows: 50% 100px 1fr ; /*(fr) es el espacio sobrante*/ 
  grid-template-columns: 50% 100px 1fr;
  grid-template-rows: 3rem 20vh 30%;
  /*Grid 5c*4r*/
  grid-template-columns: repeat(5, 20%);/*Recibe 2 parametros */
  grid-template-rows: repeat(4, auto);/*quiero 4 filas y que el tamaño se adapte al al tamaño que tengan las columnas*/
  grid-template-rows: repeat(4, 25%); /*el texto se desborda*/
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /*Grid 4c*5r*/
  grid-template-columns: 20% 30% 30% 20%;
  /*el repeat hay que ponerlo siempre y cuando las columnas o filas que van a tener en mismo tamaños sean CONTINUAS*/
  grid-template-columns: 20% repeat(2, 30%) 20%; /*Repiteme 2 del 30% .*/
  grid-template-rows: repeat(5, auto);/*Auto, para que se adapten en base a su contenido*/ 
  /*Espaciado, Pero estas 3 propiedades están depreciadas por eso sale con las letras tachadas*/
  grid-column-gap:2rem;
  grid-row-gap:1rem;
  grid-gap: 100px 0px; /*El primer valor es para row y el segundo para columnas*/
  /*oficialmente*/
  column-gap:4rem;
  row-gap:2rem;
  gap: 1vh 1vw; /*gap:row column;*/
  gap: 0; /*Sin ningun espaciado*/
}

.grid-explicit .item:nth-child(10){
  color: cyan;
  grid-row-start: 2; /*filas*/
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
 /*shorcut*/
  grid-row: 2/3;
  grid-column: 3/5;
  /*grid-row-start / grid-row-end / grid-column-start / grid-column-end ;*/
  grid-area: 2/3/3/5;
}
  /*Otra manera de posicionar es con :*/

  .grid-explicit .item:nth-child(12){
    color: cyan;
    grid-row: span 2; /*a partir de la posicion donde te encuentras barcara dos filas (espacios)*/
    grid-column: span 3;
  }

  /*Mescla*/
  .grid-explicit .item:nth-child(15){
    color: cyan;
    grid-row: 1 / span 2; /* quiero que empieces en la fila 1 y apartir de ahi quiero que te despaces 3 filas*/
    grid-column: 1 / span 2;
  }

  /*GRID LINE NAMES*/
   /* Grid 3C x 3R reticula*/
  .grid-line-names{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
    /*para nombrar las lineas*/
    grid-template-columns: [linea-c1]1fr [linea-c2]1fr [linea-c3]1fr [linea-c4];
    grid-template-rows: [linea-r1]1fr [linea-r2]1fr [linea-r3]1fr [linea-r4];
    grid-template-rows: [linea-r1]auto [linea-r2]auto [linea-r3]auto [linea-r4];
  }

  .grid-line-names .item:nth-child(3){
    color: cyan;
    grid-row: linea-r3 / linea-r4;
    grid-column: linea-c1 / linea-c4;
  }

  /*GRID AREAS*/


  .grid-areas{
    display: grid;
    /*Grid de 2c x 3r*/
    grid-template-columns: 1fr 200px;
    grid-template-rows: 100px repeat(2, 1fr) 60px; /* la primera de 100px  las segundas 2 de una fraccion y la 3ra de 60px*/
    /*les suguiero que cada fila lo manejen en distintas lineas de código */
    grid-template-areas: 
    "header header" /*no es el nombre de la clase, es el nombre original del elemento*/
    "content sidebar"
    "content ."/*Si yo quiero dejar una celda en blanco dejamos un (punto)*/
    "footer footer";
    /*no pasó absolutamente nada*/
  }

.header{
  grid-area: header;/* lo pones sin comillas dobles.*/
}

.content{
  grid-area: content;
}


.sidebar{
  grid-area: sidebar;
}

.footer{
  grid-area: footer;
}

.grid-implicit{
/*Grid de 4c x 3r*/
width: 40%;
display: grid;
display: inline-grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 200px);

}

.grid-flow{
  display: grid;
  /*Grid de 5c x 3r*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 150px);
  
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  /* si quiero que toda las filas que se generen implicitamente tengan un valor
    en especifico 
  */
  grid-auto-columns: 50px;
  /*Cuando estamos en flujo de columna el tamaño lo define la anchura*/
  /*Cuando estamos en flujo de fila quien define el tamaño es la anchura*/
}

.grid-flow-dance{
  display: grid;
  /*Grid de 5c x 4r Grid explicita*/
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 200px);
  /* grid-auto-flow: row dense; */ /*Respeta las columnas va generar filas implisitas*/
  grid-auto-flow: column dense; /*respeta las filas */ /*PUSE DANSE 🤣🤣🤣*/
}

/* 
.grid-flow-dance .item:nth-child(9){
  color: cyan;
  grid-row: span 3;
  grid-column: span 3;

} */


.grid-flow-dance .item:nth-child(11){
  color: cyan;
  grid-row: span 3;
  grid-column: span 3;

}

/*(9/17) Grid Layers: Celdas en capas (superposición) */

.grid-layers{
  display: grid;  /*Grid de 5c x 3r*/
  /*Grid de 4c x 4r*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-layers .item:nth-child(1){
  background-color: #dbea33;
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-layers .item:nth-child(2){
  background-color: #497af8;
  grid-column: 3/5;
  grid-row: 1/3;
}
.grid-layers .item:nth-child(3){
  background-color: #90e971;
  grid-column: 1/3;
  grid-row: 3/5;
}
.grid-layers .item:nth-child(4){
  background-color: #f0952a;
  grid-column: 3/5;
  grid-row: 3/5;
}

.grid-layers .item:nth-child(5){
  background-color: #c92af0;
  opacity: 75%;
  grid-column: 2/4;
  grid-row: 2/4;
}

/*Ordenamiento de Grid Items*/

.grid-order{
  display: grid;
  /*Grid de 3c x 2r*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column; 
}

.grid-order .item:nth-child(1){
  color: cyan;
  order: 1;
}

.grid-order .item:nth-child(2){
  order: 2;
}

.grid-order .item:nth-child(5){
  order: -1;
}

.grid-align{
  display: grid;
  /*Grid de 3c x 2r*/
  grid-template-columns: repeat(3, 200px); /*le damos medidas exactas para ver la alineacion*/
  grid-template-rows: repeat(2, 200px);

  /*Justify-items alinea mis elementos grid en el eje horizontal (x)*/
  justify-items: stretch; /*(toma los valores que le hayamos dado a la grid)*/
  justify-items: start;
  justify-items: center;
  justify-items: end;
  justify-items: center;
  /*align-items alinea mis elementos grid en el eje vertical (y)*/
  align-items: stretch; /*valor por defecto*/
  align-items: start;
  align-items: center;
  align-items: end;
  align-items: center;
}

/*Cuando quieran alinear un solo ITEM*/

.grid-align .item:nth-child(4){
  justify-self: start;
  align-self: start;
}

.grid-align-tracks{
  display: grid;
  /*Grid de 3c x 2r*/
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  /*justify-content: start; aliea los traks (las columnas y las filas) en el eje horizontal*/
  justify-content: start;
  justify-content: end;
  justify-content: center;
  /**/
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  /*Align-content alinea los tracks de la grid en e eje vertical (y)*/

  
  align-content: start; /*por defecto*/
  align-content: center;
  align-content: end;
  align-content: space-between;/*no cuenta las orillas*/
  align-content: space-around;/*el espaciado de las orillas seria la mitad de los interiores*/
  align-content: space-evenly;/*si quiero el mismo tamaño en las orillas buena opcion*/
}

/**/

.grid-min-max{
  display: grid;
  /*Grid de 4c x xr*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, minmax(100px, 200px));
  grid-template-columns: repeat(4, minmax(min-content, 200px));
  grid-template-columns: repeat(4, minmax(100px, min-content));
  grid-template-columns: repeat(4, minmax(100px, max-content));
  grid-template-columns: repeat(4, minmax(max-content, 200px));
  grid-template-columns: repeat(4, minmax(min-content, max-content));
}

.grid-repeat{
  display: grid;
  /*Grid de 4c x xr*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 10% 20% 30% 40%); /*REPITE 4 VECES EL PATRON (10% 20% 30% 40%)*/
  grid-template-columns: repeat(1, 10% 20% 30% 40%);/*solucion*/
  grid-template-rows: repeat(2, 10vh 20vh);
  grid-template-rows: repeat(2, 100px 200px); /*solo 2 veces se va repetir, despues las filas son implicítas*/
  grid-auto-rows: 150px; /*las filas generadas implicitamente van a tener esta medida*/
  
}